<html>

<head>
  <title>CuteBank</title>
  <%= stylesheet_link_tag 'ClientInterface.css' %>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
    <div class="fon-content">
    </div>
  </div>
</body>

</html>