/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 svg {
    background-clip: text;
    -webkit-background-clip: text;
}

a, #footer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black;
}

#container {
    max-width: 1280px;
    margin: 0 auto;
    min-width: 605px;
}

.welcome {
    padding-top: 221px;
    margin: 0 auto;
    display: table;
    text-align: center;
}



.fon-head {
    background: url(/assets/fon-head.svg) 100% 100% no-repeat;
    height: 145px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
    max-width: 1280px;
}


/* Меню и Логотип */

.logo img {
    border-bottom: 2px solid #000;
    border-radius: 50px;
    margin-top: 0px;
}

li a img {
    position: relative;
    bottom: 1px;
    right: 10px;
}

nav {
    margin: 0 auto;
    padding: 35px 0;
    overflow: hidden;
}

.logo-box {
    float: left;
    margin: -2px 0 0 25px;
}

.logo {
    margin: 0;
    height: 70px;
    text-align: center;
}

ul {
    margin-right: 25px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 70px;
    text-align: center;
    background: #FF7A00;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
}

li:first-child {
    padding-right: 25px;
    padding-left: 10px;
}

li:last-child {
    border: none;
    padding-right: 25px;
    padding-left: 8px;
}

/* Контент, Авторизация и Регистрация */

.fon-content {
    background: url(/assets/fon-content.svg) 100% 100% no-repeat;
    height: 823px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
}


.block-reg {
    float: right;
    width: 457px;
    height: 549px;
    margin-top: 35px;
    margin-right: 35px;
    
    background: #FF7A00;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px 8px rgba(0, 0, 0, 0.64);
    border-radius: 25px;
}

.become-client,
.client-login {
    height: 30px;
    padding: 2em 0;
    background: #FF7A00;
    border: 1px solid #000000;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.45);
    border-radius: 15px;
    width: 454px;
}

.client-login {
    margin-top: 70px;
}


/* Подвал */

#footer {
    margin-top: -9px;
}

#footer li {
    border-right: 0;
}

#footer li a:hover {
    color: black;
    position: relative;
    bottom: 2px;
}

#footer li a img {
    bottom: 8px;
    margin-right: 5px;
    margin-bottom: -15px;
}

#footer span {
    bottom: 2px;
    cursor: alias;
}



#footer li:last-child {
    float: right;
    padding-right: 0;
    padding-left: 0;
    margin-right: 25px;
}

#footer .icon-time {
    padding-top: 7px;
    padding-right: 10px;
}

#footer li:first-child {
    float: left;
    
}


#footer nav {
    padding: 0;
}

#footer ul {
float: none;
height: 56px;
margin-left: 25px;
}

.fon-footer {
    background: url(/assets/fon-footer.svg) 100% 100% no-repeat;
    height: 79px;
    box-shadow: inset 0 0 0 1280px rgba(0, 0, 0, 0.3);
    background-size: cover;
}







.logo-box:hover, .actions input:hover {
    color: black;
    position: relative;
    bottom: 2px;
}



/* Логотип */

h1 {
    font-size: 0px;
}

.form-reg {
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
margin-top: 37px;
color: #141414;
}

.form-reg label{
    width: 388px;
    height: 45px;
    background: #D22C2C;
    border-radius: 15px;
    display: inline-block;
    line-height: 45px;




}

.form-reg input#user_email, .form-reg input#user_password, .form-reg input#user_password_confirmation {
    width: 388px;
    height: 58px;
    background: #FDF7F7;
    border-radius: 15px;
    border: 0px;
    margin: 21px 0px;
}
.form-reg input#user_password_confirmation {
    margin-top: 21px;
    margin-bottom: 0px;
}

.form-reg .actions input {
    width: 386px;
    height: 60px;
    background: #0BA41A;
    border-radius: 15px;
    border: 0;
    margin-top: 10px;
    text-align: center;
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 28px;
color: #141414;
}









body {
    background-color: #000;
    color: white;
}


/* Меню и Логотип */

li a {
    padding-top: 26px;
    bottom: 8px;
}

a:hover {
    color: black;
    position: relative;
    bottom: 2px;
}

li {
    display: inline-block;
    margin-left: 25px;
    border-right: 3px solid #000000;
}

li:nth-child(2) {
    padding-right: 42px;
    padding-left: 17px;
}


/* Контент, Авторизация и Регистрация */

#content {
    margin-top: -5px;
}

.do_balance {
    float: left;
    margin-left: 35px;

}

.input_balance, .operation_balance {
    width: 825px;
    height: 245px;
    background: #FF7A00;

    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
    margin-top: 35px;
}

.operation_balance {
    margin-top: 40px;
}

.balance {
    float: right;
    width: 270px;
    height: 385px;
    background: #FF7A00;
    margin-right: 95px;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0 4px 12px 8px rgba(0, 0, 0, 0.64);
    border-radius: 15px;
    margin-top: 35px;
}